<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

{% extends "layout.html" %}
{% block page_content %}
  <div class="page-header">
       {%if name %}
         <h1>{{ name }} さんの出退勤表</h1>
         <form action="/post" method="post" class="form-inline">
       {% else %}
         {{ message }}
       {% endif %}
  </div>
  <body>
    <div class="page">
      <div class="container">
      <p class="lead">
        <form action="/post" method="post" class="form-inline">
          <button type="button" name="submit" value="COMING">出勤</button>
          <button type="button" name="submit" value="LEAVING">退勤</button>
          <button type="button" name="submit" value="GUEST_CHECKING">勤務表確認</button>
          <button type="button" name="submit" value="ADMIN_CHRCKING">勤務業確認（管理者向け）</button>
        </form>
      </p>
      </div>
    </div>
  </body>
{% endblock %}
</html>
